<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <article id="aboutus-header" class="is-flex">
    <div id="dental-bg"><img src="../public/aboutus/main-bg.png"></div>
    <div
      class="container is-relative is-flex is-flex-grow-1 is-align-items-flex-end is-justify-content-space-between py-6">
      <div class="columns">
        <div
          class="column is-size-8 is-flex is-flex-direction-column is-align-items-flex-start is-justify-content-flex-start">
          <h1 class="has-text-white is-size-3 pb-5 px-3">Una <span class="has-text-weight-bold">experiencia</span>
            totalmente
            personalizada.</h1>
          <a href="/contact" class="button is-primary mx-3">Contáctanos</a>
        </div>
        <div class="column is-size-4 "></div>
      </div>
    </div>
  </article>
  <article id="service-section">
    <div class="container px-3">
      <div class="columns py-6" data-aos="fade-right" data-aos-duration="1000">
        <div class="column">
          <p class="has-text-white is-size-5 pb-3">Somos un equipo multidisciplinario enfocado en diagnosticar y tratar
            tus
            síntomas, molestias e inseguridades, de manera
            oportuna, personalizada y con altos estándares de innovación y calidad.
          </p>
          <p class="has-text-white is-size-5 pb-3">Tenemos un concepto único e integral, juntando dos grandes áreas:
            Área
            Dental y Área Gástrica. Adicionalmente, contamos
            con un laboratorio propio para desarrollar nuestras propias soluciones. Definimos en conjunto tus
            necesidades, diseñamos
            y luego ejecutamos.
          </p>
          <p class="has-text-white is-size-5">
            Te entregaremos una experiencia única. <span class="has-text-weight-semibold">Ven a conocernos!</span></p>
        </div>
        <div class="column"><img src="../public/aboutus/about-treatment.PNG" class="about-image" width="200"
            height="200" alt="about-treatment-image" /></div>
      </div>
      <div class="service-header-text" data-aos="fade-left" data-aos-duration="1000">
        <h1 class="has-text-white is-size-2 pb-2 has-text-centered">Servicios</h1>
        <h2 class="has-text-white is-size-5 pb-5 has-text-centered">Contáctanos para brindarte mayor asesoría e
          información sobre nuestras especialidades y valores.</h2>
      </div>
      <div class="columns pt-5" data-aos="fade-left" data-aos-duration="1000">
        <div class="column">
          <div class="card card-services">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-dentist.webp" alt="Placeholder image" width="358" height="269">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-centered">
                <p class="has-text-weight-semibold  third-font is-size-4">Clínica Dental</p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card card-services">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-labdental.webp" alt="Dental Laboratory" width="358" height="269">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-centered">
                <p class="has-text-weight-semibold third-font is-size-4">Laboratorio Dental</p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card card-services">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-neurogastro.webp" alt="Neurogastroenterology image" width="358px"
                  height="268.5px">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-centered">
                <p class="has-text-weight-semibold  third-font is-size-4">Laboratorio Gastroenterología</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </article>
  <article class="black-bg">
    <div class="container is-flex is-flex-direction-column is-align-items-flex-start is-justify-content-center px-3">
      <div class="has-text-white is-size-5 pb-6 mx-3" data-aos="zoom-out-up" data-aos-duration="1000">
        <p class="pb-3">Existe gran parte de la población con inseguridades y malestares que muchas veces se dejan pasar
          por tiempo o
          recursos.
          En nuestra <span class="has-text-weight-bold">Clínica Biodentric</span>, solucionamos tus problemas dentales
          con un equipo de <span class="has-text-weight-bold">Odontólogos especializados </span>
          abocados
          a lo que tú necesites y puedas verte mucho mejor.</p>
        <p class="pb-3">Además, sabemos que muchas veces tenemos molestias gastrointestinales como distensión abdominal
          y reflujo pero
          no hemos
          llegado al diagnóstico oportuno para tratarlas. Es por esto que también en nuestra clínica <span
            class="has-text-weight-bold"> contamos con
            equipos
            tecnológicos y una enfermera clínica especialista </span>en realizar los procedimientos diagnósticos para
          que puedas
          sentirte
          mejor.</p>
        <p>La cartera de servicios será la siguiente: tratamientos dentales realizados por odontólogos especializados en
          diversas
          áreas y además exámenes gástricos como Test de Aire Espirado de Lactulosa, Lactosa y Fructosa, phmetría de 24
          horas con
          o sin impedanciometría.</p>
      </div>
      <div class="point-aboutus" data-aos="fade-left" data-aos-duration="1000">
        <p class="has-text-white is-size-4 is-size-5-mobile is-size-5-tablet"><span
            class="has-text-weight-bold">Misión:</span> La misión de la Clínica
          Biodentric es facilitar el diagnóstico y tratamiento oportuno de los pacientes con una atención
          humanizada y con altos estándares de calidad.</p>
      </div>
      <div class="point-aboutus" data-aos="fade-right" data-aos-duration="1000">
        <p class="has-text-white is-size-4 is-size-5-mobile is-size-5-tablet"><span
            class="has-text-weight-bold">Visión:</span> Ser la primera institución
          privada en la Región Metropolitana que integra el área dental y el área gástrica, líderes en
          las consultas y en procedimientos, comprometidos con la entrega del mejor servicio de salud para los
          pacientes, basado
          en la empatía, compromiso y profesionalismo.</p>
      </div>
    </div>
  </article>

</body>

</html>