<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <article id="aboutus-header" class="is-flex">
    <div id="dental-bg"><img src="../public/aboutus/main-bg.png"></div>
    <div
      class="container is-relative is-flex is-flex-grow-1 is-align-items-flex-end is-justify-content-space-between py-6">
      <div class="columns">
        <div
          class="column is-size-8 is-flex is-flex-direction-column is-align-items-flex-start is-justify-content-flex-start">
          <h1 class="has-text-white is-size-5 has-text-weight-bold  is-uppercase">Una experiencia</h1>
          <h1 class="has-text-white is-size-1 has-text-weight-bold pb-5  is-uppercase">100% digital</h1>
          <a href="/templates/contact.html" class="button is-primary ">Contáctanos</a>
        </div>
        <div class="column is-size-4 "></div>
      </div>
    </div>
  </article>
  <article id="service-section">

    <div class="container">
      <div class="columns pt-6">
        <div class="column">
          <p class="has-text-white is-size-4">Planificamos tu tratamiento de manera personalizada, para juntos lograr
            una sonrisa que
            responda a tus necesidades y con la naturalizad misma de los dientes reales.</p>
        </div>
        <div class="column"><img src="../public/aboutus/about-treatment.PNG" class="about-image" width="200"
            height="200" alt="about-treatment-image" /></div>
      </div>
      <div class="service-header-text">
        <h1 class="has-text-white is-size-2 pb-2 has-text-centered">Servicios</h1>
        <h2 class="has-text-white is-size-5 pb-5 has-text-centered">Contáctanos para brindarte mayor asesoría e
          información sobre nuestras especialidades y valores.</h2>
      </div>
      <div class="columns pt-5">
        <div class="column">
          <div class="card card-services">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-dentist.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-centered">
                <p class="has-text-weight-semibold  third-font is-size-4">Clínica Dental</p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card card-services">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-labdental.jpg" alt="Dental Laboratory">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-centered">
                <p class="has-text-weight-semibold third-font is-size-4">Laboratorio Dental</p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card card-services">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-neurogastro.jpg" alt="Neurogastroenterology image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-centered">
                <p class="has-text-weight-semibold  third-font is-size-4">Laboratorio Gastroenterología</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </article>
  <article class="black-bg ">
    <div class="container is-flex is-flex-direction-column is-align-items-flex-start is-justify-content-center">
      <div class="has-text-white is-size-4 pb-6 ml-6">
        <p>Somos un <span class="has-text-weight-bold">Equipo Profesional Multidisciplinario</span> enfocado en un
          trabajo sinérgico,
          colaborativo y empático que busca impactar positivamente la vida de las personas a través de una experiencia
          de atención personalizada, especialista e innovadora, que centra su valor en lasp ersonas a través del cuidado
          de su sonrisa.</p>
      </div>
      <div class="point-aboutus">
        <p class="has-text-white is-size-4"><span class="has-text-weight-bold">Cuidado de las personas:</span> Es
          nuestra decisión permanente de ver a los
          clientes como personas, otorgándoles
          todo el valor que poseen.</p>
      </div>
      <div class="point-aboutus">
        <p class="has-text-white is-size-4"><span class="has-text-weight-bold">Innovación:</span> Es nuestra apuesta por
          ver las cosas con otros ojos, nuestra
          opción de buscar nuevos caminos para
          ofrecer resultados nunca antes vistos</p>
      </div>
      <div class="point-aboutus">
        <p class="has-text-white is-size-4"><span class="has-text-weight-bold">Altos estándares:</span> En nuestra base
          para hacer las cosas bien, es el nivel
          mínimo del que elegimos partir; para
          desarrollar nuestro máximo potencial</p>
      </div>
    </div>
  </article>

</body>

</html>