<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <article id="dental-header" class="is-flex">
    <div id="dental-bg"><img src="../public/dental/dental-bg.avif"></div>
    <div
      class="container is-relative is-flex is-flex-grow-1 is-align-items-flex-end is-justify-content-space-between py-6">
      <div class="columns">
        <div
          class="column is-size-8 is-flex is-flex-direction-column is-align-items-flex-start is-justify-content-flex-start pb-6 ">
          <h1 class="has-text-white is-size-3-mobile display-none-desktop p-5">Clínica dental</h1>
          <h1 class="has-text-white is-size-3 is-size-6-mobile px-5">El mundo digital nos muestra el <span
              class="has-text-weight-bold">resultado final</span> antes de empezar un proyecto, lo que facilita la
            comunicación del
            paciente con el profesional.</h1>
          <a href="/contacto" class="button is-primary ml-5 mt-5">Contáctanos</a>
        </div>
        <div class="column is-size-4 "></div>
      </div>
    </div>
  </article>

  <article class="black-bg z-index is-flex is-align-items-center is-justify-content-center pb-3">
    <div class="container" data-aos="zoom-out" data-aos-duration="1000">
      <div class="columns  p-5 dental-card">
        <div class="column  dental-card-text">
          <p class="has-text-white is-size-2 is-size-3-mobile">¿Vale la pena <span class="has-text-weight-bold">mejorar
              tu sonrisa?</span>
          </p>
          <p class="has-text-white">Por supuesto que sí, porque algo armonioso en casi el 100% de las veces funciona
            bien, por ende, una sonrisa bonita es
            una sonrisa que funciona.
            <span class="has-text-weight-bold"> Nosotros te guiaremos para ese resultado.</span>
          </p>
        </div>
        <div class="column   dental-card-before"><img src="../public/dental/ANTES.jpg" width="347" height="310"
            alt="dental-before-img"></div>
        <div class="column  dental-card-after"><img src="../public/dental/DESPUES.png" width="347" height="310"
            alt="dental-after-img"></div>
      </div>
    </div>
  </article>

  <article class="black-bg pt-0">
    <div class="container">
      <div class="dental-specialities" data-aos="zoom-in-right" data-aos-duration="1000">
        <h1 class="is-size-2 has-text-white has-text-centered pb-2">Especialidades</h1>
        <p class="is-size-4 has-text-white has-text-centered pb-6 px-2">Contáctanos para brindarte mayor asesoría e
          información
          sobre
          nuestras
          especialidades y
          valores.</p>
        <!--Specialities Card-->
        <div class="container carousel-container">
          <div class="w-100">
            <div class="pb-6">
              <!--Specialities tab-->
              <div class="carousel-tab-container is-relative">
                <ul class="carousel-tab-slide">
                  <li class="carousel-tab-item" data-tab="tab-1">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="/public/dental/rehabilitador-icon.png" width="100" height="100" class="img-responsive"
                          alt="dental-icon">
                      </div>
                      <h2 class="is-size-4">Rehabilitador oral</h2>
                    </div>
                  </li>
                  <li class="carousel-tab-item is-active" data-tab="tab-2">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="/public/dental/ortodoncia-icon.png" width="100" height="100" class="img-responsive"
                          alt="">
                      </div>
                      <h2 class="is-size-4">Ortodoncia</h2>
                    </div>
                  </li>
                  <li class="carousel-tab-item" data-tab="tab-3">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="/public/dental/implantologia-icon.png" width="100" height="100" class="img-responsive"
                          alt="">
                      </div>
                      <h2 class="is-size-4">Implantología</h2>
                    </div>
                  </li>
                  <li class="carousel-tab-item" data-tab="tab-4">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="/public/dental/endodoncia-icon.png" width="100" height="100" class="img-responsive"
                          alt="">
                      </div>
                      <h2 class="is-size-4">Endodoncia</h2>
                    </div>
                  </li>
                  <li class="carousel-tab-item" data-tab="tab-5">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="/public/dental/periodoncia-icon.png" width="100" height="100" class="img-responsive"
                          alt="">
                      </div>
                      <h2 class="is-size-4">Periodoncia</h2>
                    </div>
                  </li>
                  <li class="carousel-tab-item" data-tab="tab-6">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="/public/dental/odontologia-icon.png" width="100" height="100" class="img-responsive"
                          alt="">
                      </div>
                      <h2 class="is-size-4">Odontología general</h2>
                    </div>
                  </li>
                  <li class="carousel-tab-item" data-tab="tab-7">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="/public/dental/estetica-icon.png" width="100" height="100" class="img-responsive"
                          alt="">
                      </div>
                      <h2 class="is-size-4">Estética facial</h2>
                    </div>
                  </li>
                  <li class="carousel-tab-item" data-tab="tab-8">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="/public/dental/cirugia-icon.png" width="100" height="100" class="img-responsive"
                          alt="">
                      </div>
                      <h2 class="is-size-4">Cirugía</h2>
                    </div>
                  </li>
                </ul>
                <a id="tab-carousel-prev-btn" class="slider-prev-btn"><iconify-icon icon="ic:round-chevron-left"
                    width="50" height="50"></iconify-icon></a>
                <a id="tab-carousel-next-btn" class="slider-next-btn"><iconify-icon icon="ic:round-chevron-right"
                    width="50" height="50"></iconify-icon></a>
              </div>

            </div>

            <div class="tabs-content">
              <div id="tab-1">
                <div class="p-2">
                  <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En qué consiste?
                  </h1>
                  <div class="columns">
                    <div class="column">
                      <h2 class="is-size-4 is-uppercase has-text-white pb-2">Rehabilitación oral</h2>
                      <p class="is-size-5 has-text-white">Especialidad de la odontología que devuelve la función y
                        estética.</p>
                      <div class="is-full is-flex is-align-items-center is-justify-content-center">
                        <a href="https://ff.healthatom.io/Y2GZwD" target="_blank" rel="noopener noreferrer"
                          class="button is-primary px-5 my-5">Agenda
                          aquí</a>
                      </div>
                    </div>

                    <div class="column">
                      <div class="dental-specialities-img"><img src="/public/dental/rehabilitador-oral-desc.png" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-2" class="active-content">
                <div class="p-2">
                  <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En qué consiste?</h1>
                  <div class="columns">
                    <div class="column">
                      <h2 class="is-size-4 is-uppercase has-text-white pb-2">Ortodoncia</h2>
                      <p class="is-size-5 has-text-white">Especialidad que se encarga de los problemas de distribución
                        de los dientes y el crecimiento de los huesos maxilares.</p>
                      <div class="is-full is-flex is-align-items-center is-justify-content-center">
                        <a href="https://ff.healthatom.io/Y2GZwD" target="_blank" rel="noopener noreferrer"
                          class="button is-primary px-5 my-5">Agenda
                          aquí</a>
                      </div>
                    </div>

                    <div class="column">
                      <div class="dental-specialities-img"><img src="/public/dental/ortodoncia-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-3">
                <div class="p-2">
                  <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En qué consiste?</h1>
                  <div class="columns">
                    <div class="column">
                      <h2 class="is-size-4 is-uppercase has-text-white pb-2">Implantología</h2>
                      <p class="is-size-5 has-text-white">Especialidad odontológica que se dedica al reemplazo de
                        dientes perdidos con implantes.</p>
                      <div class="is-full is-flex is-align-items-center is-justify-content-center">
                        <a href="https://ff.healthatom.io/Y2GZwD" target="_blank" rel="noopener noreferrer"
                          class="button is-primary px-5 my-5">Agenda
                          aquí</a>
                      </div>
                    </div>

                    <div class="column">
                      <div class="dental-specialities-img"><img src="/public/dental/implantologia-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-4">
                <div class="p-2">
                  <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En qué consiste?</h1>
                  <div class="columns">
                    <div class="column">
                      <h2 class="is-size-4 is-uppercase has-text-white pb-2">Endodoncia</h2>
                      <p class="is-size-5 has-text-white">Especialidad de la odontología que trata los tejidos pulpares.
                      </p>
                      <div class="is-full is-flex is-align-items-center is-justify-content-center">
                        <a href="https://ff.healthatom.io/Y2GZwD" target="_blank" rel="noopener noreferrer"
                          class="button is-primary px-5 my-5">Agenda
                          aquí</a>
                      </div>
                    </div>

                    <div class="column">
                      <div class="dental-specialities-img"><img src="/public/dental/endodoncia-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-5">
                <div class="p-2">
                  <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En qué consiste?
                  </h1>
                  <div class="columns">
                    <div class="column">
                      <h2 class="is-size-4 is-uppercase has-text-white pb-2">Periodoncia</h2>
                      <p class="is-size-5 has-text-white">Especialidad de la odontología que trata los tejidos que
                        soportan los dientes.</p>
                      <div class="is-full is-flex is-align-items-center is-justify-content-center">
                        <a href="https://ff.healthatom.io/Y2GZwD" target="_blank" rel="noopener noreferrer"
                          class="button is-primary px-5 my-5">Agenda
                          aquí</a>
                      </div>
                    </div>

                    <div class="column">
                      <div class="dental-specialities-img"><img src="/public/dental/periodoncia-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-6">
                <div class="p-2">
                  <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En qué consiste?
                  </h1>
                  <div class="columns">
                    <div class="column">
                      <h2 class="is-size-4 is-uppercase has-text-white pb-2">Odontología general</h2>
                      <p class="is-size-5 has-text-white">Centrada en el diagnóstico, tratamiento y prevención de los
                        problemas primarios que tienen que ver con la salud
                        bucodental.</p>
                      <div class="is-full is-flex is-align-items-center is-justify-content-center">
                        <a href="https://ff.healthatom.io/Y2GZwD" target="_blank" rel="noopener noreferrer"
                          class="button is-primary px-5 my-5">Agenda
                          aquí</a>
                      </div>
                    </div>

                    <div class="column">
                      <div class="dental-specialities-img"><img src="/public/dental/odontologia-general-desc.png" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-7">
                <div class="p-2">
                  <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En qué consiste?</h1>
                  <div class="columns">
                    <div class="column">
                      <h2 class="is-size-4 is-uppercase has-text-white pb-2">Estética facial</h2>
                      <p class="is-size-5 has-text-white">Son todos los procedimientos no invasivos que se utilizan para
                        el embellecimiento.</p>
                      <div class="is-full is-flex is-align-items-center is-justify-content-center">
                        <a href="https://ff.healthatom.io/Y2GZwD" target="_blank" rel="noopener noreferrer"
                          class="button is-primary px-5 my-5">Agenda
                          aquí</a>
                      </div>
                    </div>

                    <div class="column">
                      <div class="dental-specialities-img"><img src="/public/dental/estetica-facial-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-8">
                <div class="p-2">
                  <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En qué consiste?</h1>
                  <div class="columns">
                    <div class="column">
                      <h2 class="is-size-4 is-uppercase has-text-white pb-2">Cirugía</h2>
                      <p class="is-size-5 has-text-white">Referente a cualquier procedimiento quirúrgico en boca o
                        alrededor de esta. Tiene como objetivo solucionar problemas o
                        extirpar elementos anatómicos patológicos.</p>
                      <div class="is-full is-flex is-align-items-center is-justify-content-center">
                        <a href="https://ff.healthatom.io/Y2GZwD" target="_blank" rel="noopener noreferrer"
                          class="button is-primary px-5 my-5">Agenda
                          aquí</a>
                      </div>
                    </div>

                    <div class="column">
                      <div class="dental-specialities-img"><img src="/public/dental/cirugia-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div id="scrolling">
          <ul>
            <li>
              Slide #1
            </li>
            <li>
              Slide #2
            </li>
          </ul>
        </div>
      </div>
  </article>

  <article class="black-bg">
    <div class="container" data-aos="zoom-in-left" data-aos-duration="1000">
      <div class="experience-section">
        <h1 class="has-text-white is-size-2 is-uppercase has-text-centered pb-6">Ellos vivieron la experiencia
          Biodentric
        </h1>
        <div class="is-flex is-align-items-center is-justify-content-space-between" style="padding: 0 0.5rem">
          <div>
            <h2 class=" has-text-white is-size-4">Nuestras reseñas de Google</h2>
          </div>
          <div><a href="https://g.page/r/CT4DZlEsDTNVEBM/review" target="_blank" rel="noopener noreferrer"><button
                class="button is-primary w-100">Deja tu reseña</Button></a></div>
        </div>
        <div class="slider-container is-clipped">

          <div id="custom_controlsContainer">
            <a id="prev" class="slider-prev-btn"><iconify-icon icon="ic:round-chevron-left" width="50"
                height="50"></iconify-icon></a>
            <a id="next" class="slider-next-btn"><iconify-icon icon="ic:round-chevron-right" width="50"
                height="50"></iconify-icon></a>
          </div>

          <!-- tiny slider -->
          <ul class="slider" id="carousel-google-container">

          </ul>
        </div>
      </div>
    </div>
  </article>

</body>

</html>