#dental-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#dental-bg > img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
  z-index: -1;
}

div.dental-card {
  border: 3px solid var(--light-gray);
  margin: 0 1rem;
  border-radius: 8px;
}

.dental-card-text {
  border-bottom: none;
}

div.dental-card-before,
div.dental-card-after {
  padding: 0;
  text-align: center;
  overflow: hidden;
  margin: 1rem;
}

div.dental-card-before > img,
div.dental-card-after > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 10s ease;
}

div.dental-card-before:hover > img,
div.dental-card-after:hover > img {
  transform: scale(2);
  opacity: 0.8;
}

.dental-specialities {
  width: 100%;
}

.dental-specialities-img {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid var(--light-gray);
}

.dental-specialities-img img {
  aspect-ratio: 1/1;
}

.service-six-img {
  margin-bottom: 30px;
  text-align: center;
  filter: brightness(0) saturate(100%) invert(67%) sepia(36%) saturate(5366%)
    hue-rotate(129deg) brightness(100%) contrast(101%);
}

.service-six-blk:hover {
  opacity: 0.9;
}

.service-six-blk h3 a {
  color: var(--black);
  font-size: 1.5em;
}

.service-six-blk h3 a {
  opacity: 0.8;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.testimonial-card {
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  border-radius: 8px;
  color: white;
  border: 2px solid var(--light-gray);
}

.testimonial-body {
  padding: 0 1rem 1rem 1rem;
}

.testimonial-body p:nth-child(3) {
  font-weight: 500 !important;
}

.experience-section {
  width: 100%;
}
