<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <article id="dental-header" class="is-flex">
    <div id="dental-bg"><img src="../public/dental/dental-bg.avif"></div>
    <div
      class="container is-relative is-flex is-flex-grow-1 is-align-items-flex-end is-justify-content-space-between py-6">
      <div class="columns">
        <div
          class="column is-size-8 is-flex is-flex-direction-column is-align-items-flex-start is-justify-content-flex-start  pb-6 ">
          <h1 class="has-text-white is-size-2 px-5">"Una <span class="has-text-weight-bold">sonrisa</span> es la cosa
            más
            hermosa que
            puedes llevar".</h1>
          <h2 class="has-text-weight-bold has-text-white has-text-white is-size-2 px-5">Dr. Coco Chanel</h2>
          <a href="/templates/contact.html" class="button is-primary ml-5 mt-5">Contáctanos</a>
        </div>
        <div class="column is-size-4 "></div>
      </div>
    </div>
  </article>
  <article class="black-bg z-index">
    <div class="container">
      <div class="columns  p-5 dental-card">
        <div class="column  dental-card-text">
          <p class="has-text-white is-size-2 is-size-3-mobile">¿Quieres <span class="has-text-weight-bold">transformar
              tu sonrisa?</span>
          </p>
          <p class="has-text-white">Creemos que una sonrisa es más que una expresion facial y por eso queremos
            <span class="has-text-weight-bold"> acompañarte en este proceso de
              transformación</span>
          </p>
        </div>
        <div class="column   dental-card-before"><img src="../public/dental/ANTES.jpg" width="347" height="310"
            alt="dental-before-img"></div>
        <div class="column  dental-card-after"><img src="../public/dental/DESPUES.png" width="347" height="310"
            alt="dental-after-img"></div>
      </div>
    </div>
  </article>
  <article class="black-bg">
    <div class="container">
      <div class="dental-specialities">
        <h1 class="is-size-2 has-text-white has-text-centered pb-2">Especialidades</h1>
        <p class="is-size-4 has-text-white has-text-centered pb-6">Contáctanos para brindarte mayor asesoría e
          información
          sobre
          nuestras
          especialidades y
          valores.</p>
        <!--Cards de especialidades-->
        <div class="container">
          <div class="dental-tab">
            <div class="pb-6">
              <!--Tab de especialidades-->
              <div class="tabs is-toggle is-fullwidth is-large">
                <ul>
                  <li class="is-active" data-tab="tab-1">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="https://thegenius.co/dentistry/live2/wp-content/uploads/2016/07/service-icon1.png"
                          width="100" height="100" class="img-responsive" alt="dental-icon">
                      </div>
                      <h2 class="is-size-3">Rehabilitador oral</h2>
                    </div>
                  </li>
                  <li data-tab="tab-2">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="https://thegenius.co/dentistry/live2/wp-content/uploads/2015/10/service-icon-2.png"
                          width="100" height="100" class="img-responsive" alt="">
                      </div>
                      <h2 class="is-size-3">Ortodoncia</h2>
                    </div>
                  </li>
                  <li data-tab="tab-3">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="https://thegenius.co/dentistry/live2/wp-content/uploads/2015/10/service-icon-4.png"
                          width="100" height="100" class="img-responsive" alt="">
                      </div>
                      <h2 class="is-size-3">Implantologia</h2>
                    </div>
                  </li>
                  <li data-tab="tab-4">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="https://thegenius.co/dentistry/live2/wp-content/uploads/2015/10/service-icon-4.png"
                          width="100" height="100" class="img-responsive" alt="">
                      </div>
                      <h2 class="is-size-3">Endodoncia</h2>
                    </div>
                  </li>
                  <li data-tab="tab-5">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="https://thegenius.co/dentistry/live2/wp-content/uploads/2015/10/service-icon-4.png"
                          width="100" height="100" class="img-responsive" alt="">
                      </div>
                      <h2 class="is-size-3">Periodoncia</h2>
                    </div>
                  </li>
                  <li data-tab="tab-6">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="https://thegenius.co/dentistry/live2/wp-content/uploads/2015/10/service-icon-4.png"
                          width="100" height="100" class="img-responsive" alt="">
                      </div>
                      <h2 class="is-size-3">Odontología general</h2>
                    </div>
                  </li>
                  <li data-tab="tab-7">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="https://thegenius.co/dentistry/live2/wp-content/uploads/2015/10/service-icon-4.png"
                          width="100" height="100" class="img-responsive" alt="">
                      </div>
                      <h2 class="is-size-3">Estética facial</h2>
                    </div>
                  </li>
                  <li data-tab="tab-8">
                    <div class="tab-options">
                      <div class="service-icon service-six-img">
                        <img src="https://thegenius.co/dentistry/live2/wp-content/uploads/2015/10/service-icon-4.png"
                          width="100" height="100" class="img-responsive" alt="">
                      </div>
                      <h2 class="is-size-3">Cirujía</h2>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tabs-content">
              <div id="tab-1" class="active-content">
                <div class="p-2">
                  <div class="columns">
                    <div class="column">
                      <p class="is-size-5 has-text-white">Especialistas en restaurar la salud oral, funcionamiento y
                        estética de la dentadura. Utilizan técnicas avanzadas para
                        tratar problemas complejos de mordida, desgaste dental y pérdida de dientes, asegurando una
                        sonrisa hermosa y funcional,
                        mejorando así la calidad de vida del paciente.</p>
                    </div>
                    <div class="column">
                      <div><img src="/public/dental/rehabilitador-oral-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-2">
                <div class="p-2">
                  <div class="columns">
                    <div class="column">
                      <p class="is-size-5 has-text-white">Ortodoncistas especializados en el diagnóstico, prevención y
                        tratamiento de irregularidades dentales y faciales. Usan
                        frenillos, alineadores y otras herramientas para corregir la alineación dental, mejorar la
                        mordida y estética de la
                        sonrisa, contribuyendo a la salud oral a largo plazo y a una sonrisa más atractiva.</p>
                    </div>
                    <div class="column">
                      <div><img src="/public/dental/ortodoncia-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-3">
                <div class="p-2">
                  <div class="columns">
                    <div class="column">
                      <p class="is-size-5 has-text-white">Expertos en implantología dental ofrecen soluciones
                        permanentes para la pérdida de dientes mediante implantes. Estos
                        procedimientos mejoran la función masticatoria, la estética dental y la confianza del paciente,
                        utilizando tecnología
                        avanzada para resultados duraderos y naturales.</p>
                    </div>
                    <div class="column">
                      <div><img src="/public/dental/implantologia-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-4">
                <div class="p-2">
                  <div class="columns">
                    <div class="column">
                      <p class="is-size-5 has-text-white">Endodoncistas se especializan en tratar el interior del
                        diente, enfocándose en el tratamiento de conducto radicular.
                        Alivian el dolor, eliminan infecciones y salvan dientes dañados. Esta especialidad es clave para
                        mantener la salud
                        dental y evitar la extracción de dientes.</p>
                    </div>
                    <div class="column">
                      <div><img src="/public/dental/endodoncia-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-5">
                <div class="p-2">
                  <div class="columns">
                    <div class="column">
                      <p class="is-size-5 has-text-white">Periodoncistas tratan enfermedades de las encías y estructuras
                        de soporte dental. Se enfocan en prevenir, diagnosticar y
                        tratar la periodontitis, evitando la pérdida de dientes y mejorando la salud oral general. Sus
                        tratamientos son
                        esenciales para mantener una sonrisa saludable y duradera.</p>
                    </div>
                    <div class="column">
                      <div><img src="/public/dental/periodoncia-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-6">
                <div class="p-2">
                  <div class="columns">
                    <div class="column">
                      <p class="is-size-5 has-text-white">Odontólogos generales proporcionan una amplia gama de
                        servicios dentales, desde exámenes de rutina y limpiezas hasta
                        tratamientos más complejos. Son fundamentales para mantener una buena salud oral, previniendo,
                        diagnosticando y tratando
                        diversas afecciones dentales, asegurando así el bienestar general del paciente.</p>
                    </div>
                    <div class="column">
                      <div><img src="/public/dental/odontologia-general-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-7">
                <div class="p-2">
                  <div class="columns">
                    <div class="column">
                      <p class="is-size-5 has-text-white">Especialistas en estética facial se centran en mejorar la
                        apariencia y juventud del rostro con procedimientos no
                        invasivos. Ofrecen tratamientos como rellenos, toxina botulínica y terapias láser, destacando la
                        belleza natural y
                        promoviendo la confianza y bienestar del paciente.</p>
                    </div>
                    <div class="column">
                      <div><img src="/public/dental/estetica-facial-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-8">
                <div class="p-2">
                  <div class="columns">
                    <div class="column">
                      <p class="is-size-5 has-text-white">Cirujanos expertos realizan procedimientos quirúrgicos con
                        precisión y cuidado, abordando una variedad de necesidades
                        médicas y estéticas. Su habilidad y experiencia son fundamentales para lograr resultados
                        exitosos, mejorando
                        significativamente la salud y calidad de vida de los pacientes.</p>
                    </div>
                    <div class="column">
                      <div><img src="/public/dental/cirugia-desc.png" /></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
  </article>
  <article class="black-bg">
    <div class="container">
      <div class="p-2">
        <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿Que empleamos?</h1>
        <div class="columns">
          <div class="column">
            <p class="is-size-4 is-uppercase has-text-white pb-2">DISILICATO DE LITIO</p>
            <p class="is-size-6 has-text-white">Durabilidad, resistencia, translucidez, altas expectativas estéticas y
              restauraciones duraderas son las
              características que podrían resltar en el disilicato de litio, o comúnmente conocida como Emax de Ivoclar
              que
              bien podemos aprovechar su uso en Incrustaciones, carillas, entre otros.</p>
          </div>
          <div class="column">
            <div class="disilicato-image"><img src="/public/disilicato-de-litio.webp" /></div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="black-bg">
    <div class="container">
      <div class="experience-section">
        <h1 class="has-text-white is-size-2 is-uppercase has-text-centered pb-6">Ellos vivieron la experiencia
          Biodentric
        </h1>

        <div class="slider-container is-clipped">

          <div id="custom_controlsContainer">
            <a id="prev" class="slider-prev-btn"><iconify-icon icon="ic:round-chevron-left" width="80"
                height="80"></iconify-icon></a>
            <a id="next" class="slider-next-btn"><iconify-icon icon="ic:round-chevron-right" width="80"
                height="80"></iconify-icon></a>
          </div>

          <!-- tiny slider -->
          <ul class="slider">
            <li>
              <div class="testimonial-card">
                <div class="testimonial-img"><img src="/public/dental/experiencia-1.webp"></div>
                <div class="testimonial-body has-text-white">
                  <p class="is-size-4 has-text-centered">Juan Perez</p>
                  <p class="is-size-5 stars has-text-centered">⭐⭐⭐⭐⭐</p>
                  <p class="is-size-6 has-text-centered"> "En Biodentric encontré un equipo amable y profesional.
                    ¡Altamente recomendado!"
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="testimonial-card">
                <div class="testimonial-img"><img src="/public/dental/experiencia-2.webp"></div>
                <div class="testimonial-body has-text-white">
                  <p class="is-size-4 has-text-centered">Luisa Martinez</p>
                  <p class="is-size-5 stars has-text-centered">⭐⭐⭐⭐⭐</p>
                  <p class="is-size-6 has-text-centered"> "Mi experiencia en Biodentric fue excepcional, cuidado dental
                    de primera."
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="testimonial-card">
                <div class="testimonial-img"><img src="/public/dental/experiencia-3.webp"></div>
                <div class="testimonial-body has-text-white">
                  <p class="is-size-4 has-text-centered">Pedro Castillo</p>
                  <p class="is-size-5 stars has-text-centered">⭐⭐⭐⭐⭐</p>
                  <p class="is-size-6 has-text-centered"> "Gracias a Biodentric, ahora tengo una sonrisa que adoro."
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="testimonial-card">
                <div class="testimonial-img"><img src="/public/dental/experiencia-4.webp"></div>
                <div class="testimonial-body has-text-white">
                  <p class="is-size-4 has-text-centered">Manuel Pedraza</p>
                  <p class="is-size-5 stars has-text-centered">⭐⭐⭐⭐⭐</p>
                  <p class="is-size-6 has-text-centered"> "Atención personalizada y resultados increíbles en Biodentric.
                    ¡Muy satisfecho!"
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>

</body>

</html>