<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <article id="dental-header">
    <div id="dental-bg"><img src="../public/dental/dental-bg.avif"></div>
    <div
      class="container is-relative is-flex is-flex-grow-1 is-align-items-flex-end is-justify-content-space-between py-6">
      <div class="columns">
        <div
          class="column is-size-8 is-flex is-flex-direction-column is-align-items-flex-start is-justify-content-flex-start  pb-6 ">
          <h1 class="has-text-white is-size-2 px-5">"Una <span class="has-text-weight-bold">sonrisa</span> es la cosa
            más
            hermosa que
            puedes llevar".</h1>
          <h2 class="has-text-weight-bold has-text-white has-text-white is-size-2 px-5">Coco Chanel</h2>
        </div>
        <div class="column is-size-4 "></div>
      </div>
    </div>
  </article>

</body>

</html>