<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <article id="dental-header" class="is-flex">
    <div id="dental-bg"><img src="../public/dental/dental-bg.avif"></div>
    <div
      class="container is-relative is-flex is-flex-grow-1 is-align-items-flex-end is-justify-content-space-between py-6">
      <div class="columns">
        <div
          class="column is-size-8 is-flex is-flex-direction-column is-align-items-flex-start is-justify-content-flex-start  pb-6 ">
          <h1 class="has-text-white is-size-2 px-5">"Una <span class="has-text-weight-bold">sonrisa</span> es la cosa
            más
            hermosa que
            puedes llevar".</h1>
          <h2 class="has-text-weight-bold has-text-white has-text-white is-size-2 px-5">Coco Chanel</h2>
        </div>
        <div class="column is-size-4 "></div>
      </div>
    </div>
  </article>
  <article class="black-bg z-index">
    <div class="container">
      <div class="columns  p-5 dental-card">
        <div class="column  dental-card-text">
          <p class="has-text-white is-size-2 is-size-3-mobile">¿Quieres <span class="has-text-weight-bold">transformar
              tu sonrisa?</span>
          </p>
          <p class="has-text-white">Creemos que una sonrisa es más que una expresion facial y por eso queremos
            <span class="has-text-weight-bold"> acompañarte en este proceso de
              transformación</span>
          </p>
        </div>
        <div class="column   dental-card-before"><img src="../public/dental/ANTES.jpg" width="347" height="310"
            alt="dental-before-img"></div>
        <div class="column  dental-card-after"><img src="../public/dental/DESPUES.png" width="347" height="310"
            alt="dental-after-img"></div>
      </div>
    </div>
  </article>

</body>

</html>