<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gastro</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>

  <article id="dental-header" class="is-flex">
    <div id="dental-bg"><img src="../public/gastro/main-bg.jpeg"></div>
    <div
      class="container is-relative is-flex is-flex-grow-1 is-align-items-flex-end is-justify-content-space-between py-6">
      <div class="columns">
        <div
          class="column is-size-8 is-flex is-flex-direction-column is-align-items-flex-start is-justify-content-flex-start">
          <h1 class="has-text-white is-size-3 has-text-weight-bold pb-5 px-3">Todos podemos sentirnos cómodos en nuestro
            día
            a día.</h1>
          <a href="/contact" class="button is-primary mx-3">Contáctanos</a>
        </div>
        <div class="column is-size-4 "></div>
      </div>
    </div>
  </article>
  <article class="black-bg z-index">
    <div class="container">

      <div class="dental-tab">
        <h1 class="is-size-2 has-text-white has-text-centered pb-6">Listado de exámenes</h1>
        <div class="pb-6">
          <!--Tab de especialidades-->
          <div class="tabs is-toggle is-fullwidth is-large">
            <ul>
              <li class="is-active" data-tab="tab-1">
                <div class="tab-options">
                  <div class="service-icon service-six-img">
                    <img src="../public/gastro/phmetric.png" width="100" height="100" class="img-responsive"
                      alt="dental-icon">
                  </div>
                  <h3>PHmetría 24hrs</h3>
                </div>
              </li>
              <li data-tab="tab-2">
                <div class="tab-options">
                  <div class="service-icon service-six-img">
                    <img src="../public/gastro/test-air.png" width="100" height="100" class="img-responsive" alt="">
                  </div>
                  <h3 style="overflow-wrap: break-word; max-width:300px; text-wrap:wrap; text-align: center;">Test de
                    aire espirado
                    (lactulosa, lactosa y
                    fructosa)
                  </h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs-content">
          <div id="tab-1" class="active-content">
            <div class="p-2">
              <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En que consiste?</h1>
              <div class="columns">
                <div class="column">
                  <p class="is-size-4 is-uppercase has-text-white pb-2">PHmetría 24hrs</p>
                  <p class="is-size-6 has-text-white">Es un procedimiento en el cual se diagnóstica el Reflujo
                    Gastroesofágico mediante una sonda que se introduce por la
                    nariz y llega al esófago. Este examen permite identificar cuándo y durante cuánto tiempo de 24 horas
                    el ácido estomacal
                    se encuentra en esta zona.</p>
                </div>
                <div class="column">
                  <div class="dental-specialities-img"><img src="../public/gastro/phmetric.jpg" /></div>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-2">
            <div class="p-2">
              <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En que
                consiste?</h1>
              <div class="columns">
                <div class="column">
                  <p class="is-size-4 is-uppercase has-text-white pb-2">Test de aire espirado (lactulosa, lactosa y
                    fructosa)</p>
                  <p class="is-size-6 has-text-white">Es un procedimiento no invasivo el cual permite diagnosticar
                    sobrecrecimiento bacteriano o malabsorción de lactosa y
                    fructosa. El examen de aire espirado consiste en la medición seriada del hidrógeno eliminado a
                    través de su respiración.
                    La prueba dura 3 horas desde el comienzo de su medición.
                  </p>
                </div>
                <div class="column">
                  <div class="dental-specialities-img"><img src="../public/gastro/test-gastro.png" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </article>
  <article class="black-bg z-index">
    <div class="container px-3">
      <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center w-100">
        <h1 class="is-size-2 has-text-white has-text-centered pb-6">Preguntas Frecuentes</h1>
        <div class="is-flex is-align-items-center is-justify-content-flex-start w-100">
          <div class="accordions">
            <div class="accordion is-active">
              <div class="accordion-header toggle is-flex is-align-items-flex-start is-justify-content-space-between">
                <p class="is-size-4">¿Debo realizar algún cambio en mi vida diaria durante las 24 horas del examen de
                  phmetría?</p>
                <iconify-icon icon="solar:alt-arrow-down-line-duotone" style="color: #00d1b2;" width="40"
                  height="40"></iconify-icon>
              </div>
              <div class="accordion-body">
                <div class="accordion-content is-size-5">
                  Antes del examen es importante la suspensión de algún IBP (Omeprazol, lansoprazol, esomeprazol) 10
                  días antes del
                  examen. Durante el mismo día del examen, debe hacer una vida similar a la normal, sin hacer dieta
                  especial, ni cambiar
                  sus hábitos rutinarios.
                </div>
              </div>
            </div>
            <div class="accordion">
              <div class="accordion-header toggle is-flex is-align-items-flex-start is-justify-content-space-between">
                <p class="is-size-4">¿Qué es el reflujo gastroesofágico?</p>
                <iconify-icon icon="solar:alt-arrow-down-line-duotone" style="color: #00d1b2;" width="40"
                  height="40"></iconify-icon>
              </div>
              <div class="accordion-body">
                <div class="accordion-content is-size-5">
                  La enfermedad por reflujo gastroesofágico (ERGE) es una afección en la cual los contenidos estomacales
                  se devuelven
                  desde el estómago hacia el esófago.
                </div>
              </div>
            </div>
            <div class="accordion">
              <div class="accordion-header toggle is-flex is-align-items-flex-start is-justify-content-space-between">
                <p class="is-size-4">¿Qué recomendaciones hay para el reflujo gastroesofágico?</p>
                <iconify-icon icon="solar:alt-arrow-down-line-duotone" style="color: #00d1b2;" width="40"
                  height="40"></iconify-icon>
              </div>
              <div class="accordion-body">
                <div class="accordion-content is-size-5">
                  Ir a un gastroenterólogo para que te pueda diagnosticar e indicar un tratamiento adecuado para ti.
                  Además, puedes seguir
                  otros consejos como comer despacio y masticar bien, evitar alimentos cítricos, no acostarse
                  inmediatamente después de
                  comer, evitar el sobrepeso, entre otros.
                </div>
              </div>
            </div>
            <div class="accordion">
              <div class="accordion-header toggle is-flex is-align-items-flex-start is-justify-content-space-between">
                <p class="is-size-4">¿Qué es el sobrecrecimiento bacteriano?</p>
                <iconify-icon icon="solar:alt-arrow-down-line-duotone" style="color: #00d1b2;" width="40"
                  height="40"></iconify-icon>
              </div>
              <div class="accordion-body">
                <div class="accordion-content is-size-5">
                  El sobrecrecimiento bacteriano en el intestino delgado (SIBO) se produce cuando hay un aumento anormal
                  de toda la
                  población bacteriana en el intestino delgado, en particular de los tipos de bacterias que no se
                  encuentran comúnmente en
                  esa parte del tubo digestivo. Algunos de sus síntomas son: hinchazón, sensación de saciedad después de
                  comer, diarrea,
                  etc.
                </div>
              </div>
            </div>
            <div class="accordion">
              <div class="accordion-header toggle is-flex is-align-items-flex-start is-justify-content-space-between">
                <p class="is-size-4">¿En qué consiste el examen del Test de Aire Espirado?</p>
                <iconify-icon icon="solar:alt-arrow-down-line-duotone" style="color: #00d1b2;" width="40"
                  height="40"></iconify-icon>
              </div>
              <div class="accordion-body">
                <div class="accordion-content is-size-5">
                  Es un examen que dura 3 horas desde el comienzo de su medición. Al inicio debes tomar un líquido
                  (puede ser lactulosa,
                  lactosa o fructosa) y luego debes soplar cada cierto tiempo en una boquilla. Esto medirá el hidrógeno
                  y metano espirado
                  y se podrá realizar un diagnóstico preciso sobre tus síntomas. Durante el examen, puedes permanecer
                  tranquilo, sentado y
                  traer tu computador o libro para leer.
                </div>
              </div>
            </div>
            <div class="accordion">
              <div class="accordion-header toggle is-flex is-align-items-flex-start is-justify-content-space-between">
                <p class="is-size-4">¿Hay indicaciones para el test de aire?</p>
                <iconify-icon icon="solar:alt-arrow-down-line-duotone" style="color: #00d1b2;" width="40"
                  height="40"></iconify-icon>
              </div>
              <div class="accordion-body">
                <div class="accordion-content is-size-5">
                  Si, todas las indicaciones se te mandarán al momento de agendar. Debes seguir una dieta un día antes y
                  suspender
                  medicamentos como laxantes, antibióticos o procinéticos.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

</body>

</html>