ul.slider {
  padding: 0px;
  height: 100%;
}

div.slider-container {
  position: relative;
}

.tns-nav {
  text-align: center;
  margin: 10px 0;
}

.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 80%;
  background: var(--light-gray);
  border: 0;
}

.tns-nav > [aria-controls].tns-nav-active {
  background: #ddd;
}

ul.slider p {
  text-align: center;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}

ul.slider img {
  width: 100%;
  height: auto;
}

#custom_controlsContainer {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 50;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#custom_controlsContainer > a {
  color: var(--primary);
}

.video-text-contact-btn {
  position: relative;
  border-left: none;
}
@media all and (min-width: 1025px) {
  .video-text-contact-btn {
    border-left: 1px solid var(--primary);
    padding: 0 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
}
