<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/clinic-project/index.css">
</head>

<body>
  <article id="video-section">
    <div class="container"><video autoplay muted loop id="background-video">
        <source src="/public/background-main-video.webm" type="video/webm">
      </video>
      <div class="columns pb-6" style="width:100%">
        <div class="video-text column is-8 is-flex is-align-content-center is-justify-content-flex-start is-relative">
          <div>
            <h1 class="pb-3 is-size-2">Llegó tu momento de <span class="has-text-weight-bold">sonreir</span></h1>
            <a href="/templates/contact.html" class="button is-primary ">Contáctanos</a>
          </div>
        </div>
        <div
          class="video-text column is-4 is-flex  is-align-content-center is-justify-content-flex-start is-flex-direction-column">
          <div class="video-text-contact-btn">
            <p class="is-size-6">Lo que mas nos gusta es la naturalidad de hacer una <span
                class="has-text-weight-bold">sonrisa</span>.</p>
            <p class="pb-3 is-size-6 ">"Dr. Jose España"</p>
            <div class=""><a href="/templates/aboutus.html" class="button is-primary is-outlined">Conócenos</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </article>
  <article id="service-section">
    <div class="container">
      <div class="service-header-text">
        <h1 class="has-text-white is-size-2 pb-2 has-text-centered">Servicios</h1>
        <h2 class="has-text-white is-size-5 pb-5 has-text-centered">Contáctanos para brindarte mayor asesoría e
          información sobre nuestras especialidades y valores.</h2>
      </div>
      <div class="columns">
        <div class="column">
          <div class="card card-services">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-dentist.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>Clinica dental</p>
                <p>Rehabilitación oral</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card card-services">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-neurogastro.jpg" alt="Neurogastroenterology image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>Centro médico</p>
                <p>Neurogastro</p>
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card card-services">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-labdental.jpg" alt="Dental Laboratory">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>Laboratorio Dental</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </article>
  <article class="how-work-section">
    <div class="container ">
      <div>
        <h1 class="has-text-white is-size-2 pb-2 has-text-centered mx-auto">¿Cómo funciona el centro?</h1>
        <div class="columns pt-6">
          <div class="column ">
            <div class="how-work-card">
              <div>
                <div class="how-work-image "><iconify-icon icon="uil:phone" width="70" height="70"></iconify-icon></div>
              </div>
              <div class="is-uppercase has-text-weight-bold pb-4"><span class="is-size-3">1.</span>Contacto</div>
              <div>Escribir a <a>contact@dentric.cl</a> o a nuestro número 5555555.
                La asistente del centro se contactará y coordinará una hora según patología del paciente.</div>
            </div>
          </div>
          <div class="column ">
            <div class="how-work-card">
              <div>
                <div class="how-work-image"><iconify-icon icon="healthicons:doctor-male" width="70"
                    height="70"></iconify-icon></div>
              </div>
              <div class="is-uppercase has-text-weight-bold pb-4"><span class="is-size-3">2.</span>Ingreso al centro
              </div>
              <div>Evaluación médica: confirmación diagnóstica, plan de seguimiento y derivación a alguno de los cuatro
                programas del centro.</div>
            </div>
          </div>
          <div class="column ">
            <div class="how-work-card">
              <div>
                <div class="how-work-image"><iconify-icon icon="healthicons:health-worker-form-outline" width="70"
                    height="70"></iconify-icon></div>
              </div>
              <div class="is-uppercase has-text-weight-bold pb-4"><span class="is-size-3">3.</span> Evaluación y
                seguimiento</div>
              <div>La enfermera del programa al que fue derivado el paciente guía, acompaña y orienta. Seguimiento con
                el
                médico tratante.</div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </article>
  <article id="ourteam-section">
    <h1 class="has-text-white is-size-2 pb-5 has-text-centered">Nuestro equipo</h1>
    <div class="slider-container is-clipped">

      <div id="custom_controlsContainer">
        <a id="prev" class="slider-prev-btn"><iconify-icon icon="ic:round-chevron-left" width="80"
            height="80"></iconify-icon></a>
        <a id="next" class="slider-next-btn"><iconify-icon icon="ic:round-chevron-right" width="80"
            height="80"></iconify-icon></a>
      </div>

      <!-- tiny slider -->
      <ul class="slider ">
        <li>
          <div class="card-workers">
            <div class="background-workers"><img class="tns-lazy" src="/public/worker-1.webp">
            </div>
            <div class="logo-workers">
              <p class="is-size-3 has-text-white">Jorge Rivas</p>
            </div>
            <div class="box-workers box1-workers"><span class="icon-workers"><svg viewBox="0 0 30 30"
                  xmlns="http://www.w3.org/2000/svg" class="svg">
                  <path
                    d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z">
                  </path>
                </svg></span></div>
            <div class="box-workers box2-workers"> <span class="icon-workers">
                <svg version="1.1" id="svg5" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1668.56 1221.19"
                  style="enable-background:new 0 0 1668.56 1221.19;" xml:space="preserve" class="svg">
                  <g id="layer1" transform="translate(52.390088,-25.058597)">
                    <path id="path1009"
                      d="M283.94,167.31l386.39,516.64L281.5,1104h87.51l340.42-367.76L984.48,1104h297.8L874.15,558.3l361.92-390.99
              		h-87.51l-313.51,338.7l-253.31-338.7H283.94z M412.63,231.77h136.81l604.13,807.76h-136.81L412.63,231.77z" />
                    <path id="path1009" fill="white"
                      d="M283.94,167.31l386.39,516.64L281.5,1104h87.51l340.42-367.76L984.48,1104h297.8L874.15,558.3l361.92-390.99
              		h-87.51l-313.51,338.7l-253.31-338.7H283.94z M412.63,231.77h136.81l604.13,807.76h-136.81L412.63,231.77z" />
                  </g>
                </svg></span></div>
          </div>
        </li>
        <li>
          <div class="card-workers">
            <div class="background-workers"><img class="tns-lazy" src="/public/worker-3.webp">
            </div>
            <div class="logo-workers">
              <p class="is-size-3 has-text-white">Nicole Pacheco</p>
            </div>
            <div class="box-workers box1-workers"><span class="icon-workers"><svg viewBox="0 0 30 30"
                  xmlns="http://www.w3.org/2000/svg" class="svg">
                  <path
                    d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z">
                  </path>
                </svg></span></div>
            <div class="box-workers box2-workers"> <span class="icon-workers">
                <svg version="1.1" id="svg5" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1668.56 1221.19"
                  style="enable-background:new 0 0 1668.56 1221.19;" xml:space="preserve" class="svg">
                  <g id="layer1" transform="translate(52.390088,-25.058597)">
                    <path id="path1009"
                      d="M283.94,167.31l386.39,516.64L281.5,1104h87.51l340.42-367.76L984.48,1104h297.8L874.15,558.3l361.92-390.99
                		h-87.51l-313.51,338.7l-253.31-338.7H283.94z M412.63,231.77h136.81l604.13,807.76h-136.81L412.63,231.77z" />
                    <path id="path1009" fill="white"
                      d="M283.94,167.31l386.39,516.64L281.5,1104h87.51l340.42-367.76L984.48,1104h297.8L874.15,558.3l361.92-390.99
                		h-87.51l-313.51,338.7l-253.31-338.7H283.94z M412.63,231.77h136.81l604.13,807.76h-136.81L412.63,231.77z" />
                  </g>
                </svg></span></div>
          </div>
        </li>
        <li>
          <div class="card-workers">
            <div class="background-workers"><img class="tns-lazy" src="/public/worker-2.webp">
            </div>
            <div class="logo-workers">
              <p class="is-size-3 has-text-white">Martin Rivas</p>
            </div>
            <div class="box-workers box1-workers"><span class="icon-workers"><svg viewBox="0 0 30 30"
                  xmlns="http://www.w3.org/2000/svg" class="svg">
                  <path
                    d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z">
                  </path>
                </svg></span></div>
            <div class="box-workers box2-workers"> <span class="icon-workers">
                <svg version="1.1" id="svg5" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1668.56 1221.19"
                  style="enable-background:new 0 0 1668.56 1221.19;" xml:space="preserve" class="svg">
                  <g id="layer1" transform="translate(52.390088,-25.058597)">
                    <path id="path1009"
                      d="M283.94,167.31l386.39,516.64L281.5,1104h87.51l340.42-367.76L984.48,1104h297.8L874.15,558.3l361.92-390.99
                            		h-87.51l-313.51,338.7l-253.31-338.7H283.94z M412.63,231.77h136.81l604.13,807.76h-136.81L412.63,231.77z" />
                    <path id="path1009" fill="white"
                      d="M283.94,167.31l386.39,516.64L281.5,1104h87.51l340.42-367.76L984.48,1104h297.8L874.15,558.3l361.92-390.99
                            		h-87.51l-313.51,338.7l-253.31-338.7H283.94z M412.63,231.77h136.81l604.13,807.76h-136.81L412.63,231.77z" />
                  </g>
                </svg></span></div>
          </div>
        </li>
      </ul>
    </div>
  </article>
</body>

</html>