<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
  <link rel="stylesheet" href="/clinic-project/index.css">
</head>

<body>
  <article id="video-section">
    <div class="container"><video autoplay muted playsinline loop preload="auto" id="background-video">
        <source src="/public/background-main-video.webm" type="video/webm">
        <source src="/public/background-main-video.mp4" type="video/mp4">
      </video>
      <div class="columns pb-6" style="width:100%">
        <div class="video-text column is-8 is-flex is-align-content-center is-justify-content-flex-start is-relative">
          <div>
            <h1 class="pb-3 is-size-2">Todos podemos <span class="has-text-weight-bold">sonreir</span></h1>
            <a href="/contacto" class="button is-primary ">Contáctanos</a>
          </div>
        </div>
        <div
          class="video-text column is-4 is-flex  is-align-content-center is-justify-content-flex-start is-flex-direction-column">
          <div class="video-text-contact-btn">
            <p class="is-size-6 pb-3">En nuestra clínica nos preocupamos de tu <span
                class="has-text-weight-bold">salud</span> de manera integral y con altos estándares de calidad.</p>
            <div class="w-100 is-flex is-align-items-flex-start"><a href="/about-us"
                class="button is-primary is-outlined">Conócenos</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </article>
  <div style="z-index: 999; display: flex; align-items: stretch;justify-content: stretch; margin: -5px; width: 100%;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#1a1e1e" fill-opacity="1"
        d="M0,32L48,69.3C96,107,192,181,288,192C384,203,480,149,576,122.7C672,96,768,96,864,106.7C960,117,1056,139,1152,128C1248,117,1344,75,1392,53.3L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </div>
  <article id="service-section">
    <div class="container px-3">
      <div class="service-header-text" data-aos="fade-right" data-aos-duration="1000">
        <h1 class="has-text-white is-size-2 pb-2 has-text-centered">Servicios</h1>
        <h2 class="has-text-white is-size-5 pb-5 has-text-centered">Contáctanos para brindarte
          mayor asesoría e
          información sobre nuestras especialidades y valores.</h2>
      </div>
      <div class="columns pt-5" data-aos="fade-right" data-aos-duration="1000">
        <div class="column">
          <div class="card card-services">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-dentist.webp" alt="Placeholder image" width="358" height="269">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-centered">
                <p class="has-text-weight-semibold  third-font is-size-4">Clínica Dental</p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card card-services">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-labdental.webp" alt="Dental Laboratory" width="358" height="269">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-centered">
                <p class="has-text-weight-semibold third-font is-size-4">Laboratorio Dental</p>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card card-services">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-neurogastro.webp" alt="Neurogastroenterology image" width="358" height="269">

              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-centered">
                <p class="has-text-weight-semibold  third-font is-size-4">Laboratorio Gastroenterología</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </article>

  <article class="how-work-section">

    <div class="container px-3" data-aos="fade-left" data-aos-duration="1000">
      <div>
        <h1 class="has-text-white is-size-2 pb-2 has-text-centered mx-auto">¿Cómo funciona el centro?</h1>
        <div class="columns pt-6">
          <div class="column ">
            <div class="how-work-card">
              <div>
                <div class="how-work-image "><iconify-icon icon="uil:phone" width="70" height="70"></iconify-icon></div>
              </div>
              <div class="is-uppercase has-text-weight-bold pb-4"><span class="is-size-3">1.</span>Contacto</div>
              <div>Escríbenos al mail <a href="mailto:contacto@biodentric.cl" target="_blank"
                  rel="noopener noreferrer">contacto@biodentric.cl</a> o al whatsapp <a
                  href="https://api.whatsapp.com/send?phone=56979635540&text=%C2%A1Hola!%20%20Me%20han%20recomendado%20su%20cl%C3%ADnica%20dental.%20Me%20gustar%C3%ADa%20agendar%20mi%20primera%20cita%20para%20un%20diagn%C3%B3stico%20y%20posible%20procedimiento.%20%C2%BFCu%C3%A1ndo%20podr%C3%ADamos%20coordinar?%20%20Espero%20su%20pronta%20respuesta.%20%20Gracias"
                  rel="noopener noreferer" target="_blank">+56 9 7963 5540</a> para coordinar una
                hora de diagnóstico, control y/o
                procedimiento.</div>
            </div>
          </div>
          <div class="column ">
            <div class="how-work-card">
              <div>
                <div class="how-work-image"><iconify-icon icon="healthicons:doctor-male" width="70"
                    height="70"></iconify-icon></div>
              </div>
              <div class="is-uppercase has-text-weight-bold pb-4"><span class="is-size-3">2.</span>Evaluación y plan de
                tratamiento
              </div>
              <div>Realizaremos una evaluación según tus necesidades, entregándote un diagnóstico integral, diferentes
                posibilidades
                terapéuticas y explicación detallada del plan convenido.</div>
            </div>
          </div>
          <div class="column ">
            <div class="how-work-card">
              <div>
                <div class="how-work-image"><iconify-icon icon="healthicons:health-worker-form-outline" width="70"
                    height="70"></iconify-icon></div>
              </div>
              <div class="is-uppercase has-text-weight-bold pb-4"><span class="is-size-3">3.</span> Ejecución y
                controles periódicos</div>
              <div>En el caso de realización de procedimientos, procederemos a realizarlo con todo el confort que
                necesitas. Si debes
                seguir realizando controles, estos los adecuaremos según tus necesidades y riesgo.</div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </article>
  <article id="ourteam-section-mobile">
    <h1 class="has-text-white is-size-2 pb-5 has-text-centered" data-aos="fade-right" data-aos-duration="1000">Nuestro
      equipo</h1>
    <div class="slider-container is-clipped" data-aos="fade-right" data-aos-duration="1000">

      <div id="custom_controlsContainer">
        <a id="prev" class="slider-prev-btn"><iconify-icon icon="ic:round-chevron-left" width="80"
            height="80"></iconify-icon></a>
        <a id="next" class="slider-next-btn"><iconify-icon icon="ic:round-chevron-right" width="80"
            height="80"></iconify-icon></a>
      </div>

      <!-- tiny slider -->
      <ul class="slider">
        <li>
          <div class="card-workers">
            <div class="background-workers"><img class="tns-lazy" src="/public/worker-2.webp" alt="dentist-image">
            </div>
            <div class="logo-workers">
              <p class="is-size-4 is-size-5-mobile has-text-black exo-font">Martin Rivas</p>
              <p class="is-size-6 is-size-7-mobile has-text-black">Rehabilitador Oral</p>
            </div>
            <div class="box-workers box1-workers"><span class="icon-workers"><svg viewBox="0 0 30 30"
                  xmlns="http://www.w3.org/2000/svg" class="svg">
                  <path
                    d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z">
                  </path>
                </svg></span></div>
          </div>
        </li>
        <li>
          <div class="card-workers">
            <div class="background-workers"><img class="tns-lazy" src="/public/worker-3.webp" alt="clinic-nurse-image">
            </div>
            <div class="logo-workers">
              <p class="is-size-4 is-size-5-mobile has-text-black">Nicole Pacheco</p>
              <p class="is-size-6 is-size-7-mobile has-text-black">Enfermera Clínica</p>
            </div>
            <div class="box-workers box2-workers"><span class="icon-workers"><svg xmlns="http://www.w3.org/2000/svg"
                  width="30" height="30" viewBox="0 0 1024 1024" class="svg">
                  <path fill="white"
                    d="M847.7 112H176.3c-35.5 0-64.3 28.8-64.3 64.3v671.4c0 35.5 28.8 64.3 64.3 64.3h671.4c35.5 0 64.3-28.8 64.3-64.3V176.3c0-35.5-28.8-64.3-64.3-64.3zm0 736c-447.8-.1-671.7-.2-671.7-.3c.1-447.8.2-671.7.3-671.7c447.8.1 671.7.2 671.7.3c-.1 447.8-.2 671.7-.3 671.7zM230.6 411.9h118.7v381.8H230.6zm59.4-52.2c37.9 0 68.8-30.8 68.8-68.8a68.8 68.8 0 1 0-137.6 0c-.1 38 30.7 68.8 68.8 68.8zm252.3 245.1c0-49.8 9.5-98 71.2-98c60.8 0 61.7 56.9 61.7 101.2v185.7h118.6V584.3c0-102.8-22.2-181.9-142.3-181.9c-57.7 0-96.4 31.7-112.3 61.7h-1.6v-52.2H423.7v381.8h118.6V604.8z" />
                </svg></span></div>
          </div>
        </li>
        <li>
          <div class="card-workers">
            <div class="background-workers"><img class="tns-lazy" src="/public/worker-1.webp" width="auto" height="auto"
                alt="digital-experience-director-image">
            </div>
            <div class="logo-workers">
              <p class="is-size-4 is-size-5-mobile has-text-black">Jorge Rivas</p>
              <p class="is-size-6 is-size-7-mobile has-text-black">Director de experiencia digital</p>
            </div>
            <div class="box-workers box2-workers"><span class="icon-workers"><svg xmlns="http://www.w3.org/2000/svg"
                  width="30" height="30" viewBox="0 0 1024 1024" class="svg">
                  <path fill="white"
                    d="M847.7 112H176.3c-35.5 0-64.3 28.8-64.3 64.3v671.4c0 35.5 28.8 64.3 64.3 64.3h671.4c35.5 0 64.3-28.8 64.3-64.3V176.3c0-35.5-28.8-64.3-64.3-64.3zm0 736c-447.8-.1-671.7-.2-671.7-.3c.1-447.8.2-671.7.3-671.7c447.8.1 671.7.2 671.7.3c-.1 447.8-.2 671.7-.3 671.7zM230.6 411.9h118.7v381.8H230.6zm59.4-52.2c37.9 0 68.8-30.8 68.8-68.8a68.8 68.8 0 1 0-137.6 0c-.1 38 30.7 68.8 68.8 68.8zm252.3 245.1c0-49.8 9.5-98 71.2-98c60.8 0 61.7 56.9 61.7 101.2v185.7h118.6V584.3c0-102.8-22.2-181.9-142.3-181.9c-57.7 0-96.4 31.7-112.3 61.7h-1.6v-52.2H423.7v381.8h118.6V604.8z" />
                </svg></span></div>
          </div>
        </li>
      </ul>
    </div>
  </article>
  <article id="ourteam-section">
    <ul data-aos="fade-right" data-aos-duration="1000">
      <li>
        <div class="card-workers">
          <div class="background-workers"><img class="tns-lazy" src="/public/worker-2.webp" alt="dentist-image"
              width="auto" height="auto">
          </div>
          <div class="logo-workers">
            <p class="is-size-4 has-text-black exo-font">Martin Rivas</p>
            <p class="is-size-6 has-text-black">Rehabilitador Oral</p>
          </div>
          <div class="box-workers box1-workers"><span class="icon-workers"><svg viewBox="0 0 30 30"
                xmlns="http://www.w3.org/2000/svg" class="svg">
                <path
                  d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z">
                </path>
              </svg></span></div>
        </div>
      </li>
      <li>
        <div class="card-workers">
          <div class="background-workers"><img class="tns-lazy" src="/public/worker-3.webp" alt="clinic-nurse-image"
              width="auto" height="auto">
          </div>
          <div class="logo-workers">
            <p class="is-size-4 has-text-black">Nicole Pacheco</p>
            <p class="is-size-6 has-text-black">Enfermera Clínica</p>
          </div>
          <div class="box-workers box2-workers"><span class="icon-workers"><svg xmlns="http://www.w3.org/2000/svg"
                width="30" height="30" viewBox="0 0 1024 1024" class="svg">
                <path fill="white"
                  d="M847.7 112H176.3c-35.5 0-64.3 28.8-64.3 64.3v671.4c0 35.5 28.8 64.3 64.3 64.3h671.4c35.5 0 64.3-28.8 64.3-64.3V176.3c0-35.5-28.8-64.3-64.3-64.3zm0 736c-447.8-.1-671.7-.2-671.7-.3c.1-447.8.2-671.7.3-671.7c447.8.1 671.7.2 671.7.3c-.1 447.8-.2 671.7-.3 671.7zM230.6 411.9h118.7v381.8H230.6zm59.4-52.2c37.9 0 68.8-30.8 68.8-68.8a68.8 68.8 0 1 0-137.6 0c-.1 38 30.7 68.8 68.8 68.8zm252.3 245.1c0-49.8 9.5-98 71.2-98c60.8 0 61.7 56.9 61.7 101.2v185.7h118.6V584.3c0-102.8-22.2-181.9-142.3-181.9c-57.7 0-96.4 31.7-112.3 61.7h-1.6v-52.2H423.7v381.8h118.6V604.8z" />
              </svg></span></div>
        </div>
      </li>
      <li>
        <div class="card-workers">
          <div class="background-workers"><img class="tns-lazy" src="/public/worker-1.webp"
              alt="digital-experience-director-image">
          </div>
          <div class="logo-workers">
            <p class="is-size-4 has-text-black">Jorge Rivas</p>
            <p class="is-size-6 has-text-black">Director de experiencia digital</p>
          </div>
          <div class="box-workers box2-workers"><span class="icon-workers"><svg xmlns="http://www.w3.org/2000/svg"
                width="30" height="30" viewBox="0 0 1024 1024" class="svg">
                <path fill="white"
                  d="M847.7 112H176.3c-35.5 0-64.3 28.8-64.3 64.3v671.4c0 35.5 28.8 64.3 64.3 64.3h671.4c35.5 0 64.3-28.8 64.3-64.3V176.3c0-35.5-28.8-64.3-64.3-64.3zm0 736c-447.8-.1-671.7-.2-671.7-.3c.1-447.8.2-671.7.3-671.7c447.8.1 671.7.2 671.7.3c-.1 447.8-.2 671.7-.3 671.7zM230.6 411.9h118.7v381.8H230.6zm59.4-52.2c37.9 0 68.8-30.8 68.8-68.8a68.8 68.8 0 1 0-137.6 0c-.1 38 30.7 68.8 68.8 68.8zm252.3 245.1c0-49.8 9.5-98 71.2-98c60.8 0 61.7 56.9 61.7 101.2v185.7h118.6V584.3c0-102.8-22.2-181.9-142.3-181.9c-57.7 0-96.4 31.7-112.3 61.7h-1.6v-52.2H423.7v381.8h118.6V604.8z" />
              </svg></span></div>
        </div>
      </li>
    </ul>
  </article>
</body>

</html>