ul.slider {
  padding: 0px;
  height: 100%;
}

div.slider-container {
  position: relative;
}

.tns-nav {
  text-align: center;
  margin: 10px 0;
}

.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 80%;
  background: var(--light-gray);
  border: 0;
}

.tns-nav > [aria-controls].tns-nav-active {
  background: #ddd;
}

ul.slider p {
  text-align: center;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}

ul.slider img {
  width: 100%;
  height: auto;
}

#custom_controlsContainer {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 50;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#custom_controlsContainer > a {
  color: var(--primary);
  background-color: var(--black);
  border: 1px solid var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}
#custom_controlsContainer > a:hover {
  opacity: 0.8;
}

.video-text-contact-btn {
  position: relative;
  border-left: none;
}
@media all and (min-width: 1025px) {
  .video-text-contact-btn {
    border-left: 1px solid var(--primary);
    padding: 0 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
}

div.card {
  border-radius: 1rem;
}
div.card-services {
  height: 100%;
  border: #4dfbd9 1px solid;
}

div.card-services:hover {
  box-shadow: 0px 0px 15px 1px #4dfbd9;
}

div.card-image:first-child img {
  border-radius: 1rem;
}

div.card-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-services:hover {
  animation: pulse;
  animation-duration: 0.5s;
  cursor: pointer;
}
/*Custom Box CSS*/

.card-workers {
  position: relative;
  max-height: 450px;
  background: var(--white);
  overflow: hidden;
  border: 7px solid var(--white);
  outline: 1px solid var(--primary);
  border-radius: 8px;
  transition: all 1s ease-in-out;
  margin: 0 1rem;
  cursor: pointer;
}

.background-workers,
.background-workers img {
  max-height: 300px;
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;
  background-color: var(--black);
}
.background-workers img {
  max-height: 100%;
}

.logo-workers {
  transform: translate(0, 0);
  height: 150px;
  transition: all 0.6s ease-in-out;
  background-color: var(--white);
  padding: 0.5rem;
  font-weight: 700;
  text-align: center;
}

.logo-workers .logo-svg-workers {
  fill: white;
  width: 30px;
  height: 30px;
}

.icon-workers {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.icon-workers .svg,
.icon-workers svg {
  fill: rgba(255, 255, 255, 0.797);
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.box-workers {
  position: absolute;
  cursor: pointer;
  padding: 10px;
  text-align: right;
  background: rgba(255, 255, 255, 0.389);
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 1px solid white;
  border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
  box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
  transform-origin: bottom left;
  transition: all 0.5s ease-in-out;
}

.box-workers::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.box-workers .svg {
  fill: white;
}

.box1-workers,
.box2-workers {
  width: 30%;
  height: 30%;
  bottom: -30%;
  left: -30%;
}

.box1-workers::before {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #ff53d4 60%,
    #62c2fe 90%
  );
}

.box1-workers::before {
  opacity: 1;
}

.box1-workers .icon-workers .svg {
  filter: drop-shadow(0 0 5px white);
}

.box2-workers::before {
  background: radial-gradient(circle at 30% 107%, #0a66c2 0%, #82bef7 90%);
}

.box2-workers::before {
  opacity: 1;
}

.box2-workers .icon-workers .svg {
  filter: drop-shadow(0 0 5px white);
}

.box3-workers {
  width: 30%;
  height: 30%;
  bottom: -30%;
  left: -30%;
  transition-delay: 0.4s;
}

.box3-workers::before {
  background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
}

.box3-workers:hover::before {
  opacity: 1;
}

.box3-workers:hover .icon-workers .svg {
  filter: drop-shadow(0 0 5px white);
}

.box4-workers {
  width: 10%;
  height: 10%;
  bottom: -10%;
  left: -10%;
  transition-delay: 0.6s;
}

@media all and (min-width: 480px) {
  .card-workers:hover .box-workers {
    bottom: -70px;
    left: -40px;
  }

  .card-workers:hover .logo-workers {
    transform: translate(none, none);
  }
}

/*Mobile config*/

@media all and (max-width: 767px) {
  .card-workers {
    max-height: 300px;
  }

  #custom_controlsContainer {
    display: none;
  }

  .box-workers {
    bottom: -15%;
    left: -11%;
    padding: 5px 10px;
  }

  .background-workers {
    max-height: 190px;
  }

  /*  .card-workers {
    transform: none;
  } */
}
