#dental-lab-pictures {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 2rem 4rem 2rem;
}

#dental-lab-pictures .slider-container {
  border-radius: 8px;
}

.dental-tab {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.active-content {
  display: block !important;
  animation: fadeInUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.tabs-content > div {
  display: none;
}

.tab-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-radius: 8px;
  border: 1px solid var(--primary);
  width: auto;
  cursor: pointer;
  opacity: 0.4;
}

.is-active .tab-options {
  opacity: 1;
}

.tabs {
  width: 100%;
  display: flex;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  padding-bottom: 0.3rem;
}

.tabs ul {
  justify-content: center !important;
}

.tabs.is-fullwidth li {
  flex-grow: unset !important;
  flex-shrink: unset !important;
}

.tabs ul li {
  min-width: 300px;
  height: 100%;
  margin-right: 0.5rem;
  position: relative;
  scroll-snap-align: center;
}

.tabs ul li .tab-options {
  height: 100%;
  color: var(--black);
  padding-top: 0.5rem;
}

.carrousel-dental-img {
  width: 100%;
  height: 320px;
}

.carrousel-dental-img > div {
  height: 100%;
}

.carrousel-dental-img img {
  aspect-ratio: 1/1;
  height: 100%;
}
