#dental-lab-pictures {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 2rem 4rem 2rem;
}

#dental-lab-pictures .slider-container {
  border-radius: 8px;
}

.dental-tab {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.active-content {
  display: block !important;
  animation: fadeInUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.tabs-content > div {
  display: none;
}

.tab-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-radius: 8px;
  border: 1px solid var(--primary);
  width: calc((100vw - 25rem) / 3);
  cursor: pointer;
  padding: 1rem 0;
  opacity: 0.4;
  height: 100%;
  z-index: 999;
}

@media all and (max-width: 480px) {
  .tab-options {
    width: calc(100vw - 50px);
  }
}
.is-active .tab-options {
  opacity: 1;
}

.tabs {
  width: 100%;
  display: flex;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  padding-bottom: 0.3rem;
}

.tabs ul {
  justify-content: center !important;
}

.tabs.is-fullwidth li {
  flex-grow: unset !important;
  flex-shrink: unset !important;
}

.tabs ul li {
  min-width: 300px;
  height: 100%;
  margin-right: 0.5rem;
  position: relative;
  scroll-snap-align: center;
}

.tabs ul li .tab-options {
  height: 100%;
  color: var(--black);
  padding-top: 0.5rem;
}

.carrousel-dental-img {
  width: 100%;
  height: 320px;
}

.carrousel-dental-img > div {
  height: 100%;
}

.carrousel-dental-img img {
  aspect-ratio: 1/1;
  height: 100%;
}

/*Service container*/

.carousel-tab-container {
  max-width: 100%;
  overflow: hidden;
}

.carousel-tab-slide {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* para alinear horizontalmente los elementos */
  transition: transform 0.5s ease-in-out; /* animación suave para el deslizamiento */
}

.carousel-tab-item {
  min-width: auto; /* cada elemento debe tener el ancho del contenedor para llenarlo completamente */
  box-sizing: border-box;
  /* Añadir más estilos según sea necesario */
  margin: 0 0.5rem;
  z-index: 50;
}

#tab-carousel-next-btn,
#tab-carousel-prev-btn {
  color: var(--primary);
  background-color: var(--black);
  border: 1px solid var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  width: fit-content;
  height: fit-content;
  z-index: 50;
  position: absolute;
  top: 60px;
  right: 0;
}

#tab-carousel-prev-btn {
  left: 0;
  right: unset;
}
