<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab dental</title>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
</head>

<body>

  <article id="dental-header" class="is-flex">
    <div id="dental-bg"><img src="../public/lab-dental/main-bg.webp"></div>
    <div
      class="container is-relative is-flex is-flex-grow-1 is-align-items-flex-end is-justify-content-space-between py-6">
      <div class="columns">
        <div
          class="column is-size-8 is-flex is-flex-direction-column is-align-items-flex-start is-justify-content-flex-start">
          <h1 class="has-text-white is-size-3 pb-5 px-3">Nuestro flujo digital nos ayuda a entender las
            necesidades de nuestros clientes buscando siempre imitar <span class="has-text-weight-bold">la armonía que
              nos dá lo natural.</span></h1>
          <a href="/contact" class="button is-primary mx-3">Contáctanos</a>
        </div>
        <div class="column is-size-4 "></div>
      </div>
    </div>
  </article>
  <article class="black-bg z-index">
    <div class="container" data-aos="zoom-in-right" data-aos-duration="1000">

      <div class="dental-tab">
        <h1 class="is-size-2 has-text-white has-text-centered pb-6">Listado de servicios</h1>
        <div class="pb-6">
          <!--Tab de especialidades-->
          <div class="tabs is-toggle is-fullwidth is-large">
            <ul>
              <li class="is-active" data-tab="tab-1">
                <div class="tab-options">
                  <div class="service-icon service-six-img">
                    <img src="/public/lab-dental/tab-1.png" width="100" height="100" class="img-responsive"
                      alt="dental-icon">
                  </div>
                  <h3>Digitalización</h3>
                </div>
              </li>
              <li data-tab="tab-2">
                <div class="tab-options">
                  <div class="service-icon service-six-img">
                    <img src="/public/lab-dental/tab-2.png" width="100" height="100" class="img-responsive" alt="">
                  </div>
                  <h3>Digital wax up
                  </h3>
                </div>
              </li>
              <li data-tab="tab-3">
                <div class="tab-options">
                  <div class="service-icon service-six-img">
                    <img src="/public/lab-dental/tab-3.png" width="100" height="100" class="img-responsive" alt="">
                  </div>
                  <h3>Impresión 3D</h3>
                </div>
              </li>
              <li data-tab="tab-4">
                <div class="tab-options">
                  <div class="service-icon service-six-img">
                    <img src="/public/lab-dental/tab-4.png" width="100" height="100" class="img-responsive" alt="">
                  </div>
                  <h3>Restauraciones impresas</h3>
                </div>
              </li>
              <li data-tab="tab-5">
                <div class="tab-options">
                  <div class="service-icon service-six-img">
                    <img src="/public/lab-dental/tab-5.png" width="100" height="100" class="img-responsive" alt="">
                  </div>
                  <h3>Guías Qx</h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs-content">
          <div id="tab-1" class="active-content">
            <div class="p-2">
              <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En qué consiste?</h1>
              <div class="columns">
                <div class="column">
                  <h2 class="is-size-4 is-uppercase has-text-white pb-2">Digitalización</h2>
                  <p class="is-size-6 has-text-white">Obtención de imagen tridimensional de modelos del paciente a
                    través de un scanner para luego diseñar y fabricar
                    restauraciones, llámese implante, incrustación, carillas, coronas, prototipos, etc.</p>
                </div>
                <div class="column">
                  <div class="dental-specialities-img"><img src="/public/lab-dental/free-metal.jpg" /></div>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-2">
            <div class="p-2">
              <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En qué consiste?</h1>
              <div class="columns">
                <div class="column">
                  <h2 class="is-size-4 is-uppercase has-text-white pb-2">Digital wax up</h2>
                  <p class="is-size-6 has-text-white">Confección de prototipo digital diagnóstico que es usualmente
                    utilizado en el proceso de planificación de un caso
                    clínico.</p>
                </div>
                <div class="column">
                  <div class="dental-specialities-img"><img src="/public/lab-dental/metal-corones.jpg" /></div>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-3">
            <div class="p-2">
              <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En qué consiste?</h1>
              <div class="columns">
                <div class="column">
                  <h2 class="is-size-4 is-uppercase has-text-white pb-2">Impresión 3D</h2>
                  <p class="is-size-6 has-text-white">es un proceso rápido de creación de prototipos y manufactura
                    personalizable, además de una tecnología que permite la
                    creación de geometrías complejas.</p>
                </div>
                <div class="column">
                  <div class="dental-specialities-img"><img src="/public/lab-dental/sobreimplant.avif" /></div>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-4">
            <div class="p-2">
              <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En qué consiste?</h1>
              <div class="columns">
                <div class="column">
                  <h2 class="is-size-4 is-uppercase has-text-white pb-2">Restauraciones impresas</h2>
                  <p class="is-size-6 has-text-white">Manufactura de restauraciones indirectas de manera aditiva, ya
                    sean provisorios, provisorios a largo plazo o
                    restauraciones definitivas.</p>
                </div>
                <div class="column">
                  <div class="dental-specialities-img"><img src="/public/lab-dental/fixed-bridge.jpg" /></div>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-5">
            <div class="p-2">
              <h1 class="is-size-2 has-text-white has-text-centered pb-6">¿En qué consiste?</h1>
              <div class="columns">
                <div class="column">
                  <h2 class="is-size-4 is-uppercase has-text-white pb-2">Guías Qx</h2>
                  <p class="is-size-6 has-text-white">Es un elemento quirúrgico, que permite al especialista colocar los
                    implantes de acuerdo al estudio y planificación
                    previos, de forma cuidadosa y precisa.</p>
                </div>
                <div class="column">
                  <div class="dental-specialities-img"><img src="/public/lab-dental/fixed-bridge.jpg" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </article>
  <div id="dental-lab-pictures" class="black-bg z-index">
    <div class="slider-container is-clipped" data-aos="zoom-in-left" data-aos-duration="1000">

      <div id="custom_controlsContainer">
        <a id="prev" class="slider-prev-btn"><iconify-icon icon="ic:round-chevron-left" width="50"
            height="50"></iconify-icon></a>
        <a id="next" class="slider-next-btn"><iconify-icon icon="ic:round-chevron-right" width="50"
            height="50"></iconify-icon></a>
      </div>

      <!-- tiny slider -->
      <ul class="slider ">
        <li>
          <div class="carrousel-dental-img">
            <div class="background-workers"><img class="tns-lazy" src="/public/lab-dental/carrousel-1.webp">
            </div>
          </div>
        </li>
        <li>
          <div class="carrousel-dental-img">
            <div class="background-workers"><img class="tns-lazy" src="/public/lab-dental/carrousel-2.webp">
            </div>
          </div>
        </li>
        <li>
          <div class="carrousel-dental-img">
            <div class="background-workers"><img class="tns-lazy" src="/public/lab-dental/carrousel-3.jpg">
            </div>
          </div>
        </li>
        <li>
          <div class="carrousel-dental-img">
            <div class="background-workers"><img class="tns-lazy" src="/public/lab-dental/carrousel-4.jpg">
            </div>
          </div>
        </li>
        <li>
          <div class="carrousel-dental-img">
            <div class="background-workers"><img class="tns-lazy" src="/public/service-dentist.webp">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


</body>

</html>