@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --black: #1a1e1e;
  --white: #ffffff;
  --light-gray: #999894;
  --btn-text-color: #003431;
  --primary: #00d1b2;
  --primary-font: "Exo 2", sans-serif;
  --secondary-font: "Fira Sans Extra Condensed", sans-serif;
  --third-font: "Libre Franklin", sans-serif;
}

body {
  background: var(--black);
  color: var(--white);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;

  position: relative;
}

.exo-font {
  font-family: var(--primary-font);
}

.fira-font {
  font-family: var(--secondary-font);
}

.third-font {
  font-family: var(--third-font);
}

h1,
h2 {
  font-family: var(--primary-font);
}

h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

p,
a {
  font-family: var(--third-font);
}
article {
  padding: 4rem 0;
  min-height: 100vh;
  z-index: 1;
}

div.container {
  width: 100vw;
  display: flex;
  position: static;
  min-height: 100%;
}

nav.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.6s;
}

nav.navbar.sticky-navbar {
  z-index: 9999;
  background-color: var(--black);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--primary);
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.navbar-menu,
.navbar-menu.is-active {
  background-color: var(--black);
}

a.navbar-item img {
  max-height: fit-content;
}

a.navbar-item {
  color: var(--white);
  padding: 0 1rem;
}

@media all and (max-width: 480px) {
  a.navbar-item {
    padding: 0.5rem 1rem;
  }
}

.navbar-start > a.navbar-item:hover {
  color: var(--white);
  background-color: initial;
  opacity: 0.7;
}
.navbar-start > a.navbar-item.is-selected {
  color: var(--white);
  background-color: transparent;
  border-bottom: 4px solid var(--primary);
}
footer.footer {
  background-color: var(--black);
  z-index: 1;
}

.w-100 {
  width: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

/*Initial section*/
#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100vw;
  min-height: 100vh;
  opacity: 0.4;
  max-width: initial;
}

#video-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: white;
  padding: 1rem;
  height: calc(100vh - 52px);
  z-index: 1;
}

#video-section > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1rem;
}

.video-text {
  z-index: 2;
}

.card-image > figure > img {
  object-fit: cover;
}

a.navbar-burger,
a.navbar-burger:hover {
  color: var(--primary);
}

a.navbar-link:not(.is-arrowless)::after {
  border-color: var(--primary);
}

a.dropdown-link:focus,
a.dropdown-link:focus-within,
a.dropdown-link:focus-visible,
a.dropdown-link:hover {
  background-color: var(--black);
}

div.navbar-dropdown {
  border-top: none;
}

div.navbar-item.has-dropdown:hover .navbar-link {
  background-color: var(--black);
  color: var(--white);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.7;
}

.z-index {
  z-index: 1;
}

.black-bg {
  background-color: var(--black);
}

@media all and (min-width: 1025px) {
  #navbarClinic {
    background-color: transparent;
  }
  #video-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #video-section > div {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .navbar-burger {
    color: transparent;
  }
  .navbar-container {
    flex-direction: row;
  }
}

/*Service section*/

#service-section {
  padding-top: 0;
  overflow: hidden;
  z-index: 1;
  background-color: var(--black);
  padding-top: 1.5rem;
}

#service-section > div {
  flex-direction: column;
}

/*Our team section*/

#ourteam-section {
  overflow: hidden;
  z-index: 1;
  background-color: var(--black);
}
#ourteam-section ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ourteam-section ul li {
  width: 33.3%;
}
#ourteam-section-mobile {
  overflow: hidden;
  z-index: 1;
  background-color: var(--black);
  display: none;
}
@media all and (max-width: 480px) {
  #ourteam-section-mobile {
    display: block;
  }
  #ourteam-section {
    display: none;
  }
}

/*Card footer*/
.custom-card-footer {
  display: flex;
  height: 50px;
  width: 200px;
}

.custom-card-footer svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.custom-card-footer .social-link1,
.custom-card-footer .social-link2,
.custom-card-footer .social-link3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.custom-card-footer svg {
  transform: scale(1);
}

.custom-card-footer .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.custom-card-footer .social-link2:hover {
  background-color: var(--white);
  color: var(--black);
  animation: bounce_613 0.4s linear;
}

.custom-card-footer .social-link3:hover {
  background-color: #12a50b;
  animation: bounce_613 0.4s linear;
}

/*How work section*/
.how-work-section {
  background-color: var(--black);
}

.how-work-card {
  background-color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 8px;
  color: var(--black);
  padding: 2rem;
  height: 100%;
}

.how-work-image {
  background-color: var(--light-gray);
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  margin-bottom: 1rem;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/*Scroll bar style*/

* {
  scrollbar-width: thin;
  scrollbar-color: #00d1b2 #dfe9eb;
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00d1b2;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #009d86;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #004f44;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.show-scroll-animation {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

a.button.is-primary,
button.button.is-primary {
  color: var(--btn-text-color);
  font-weight: 700;
}

a.button.is-primary:hover iconify-icon[icon="ic:twotone-map"],
a.button.is-primary:hover iconify-icon[icon="ic:baseline-whatsapp"],
a.button.is-primary:hover iconify-icon[icon="foundation:telephone"] {
  color: var(--white) !important;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: var(--primary) !important;
}

/*Service container*/

.carousel-tab-container {
  max-width: 100%;
  overflow: hidden;
}

.carousel-tab-slide {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* para alinear horizontalmente los elementos */
  transition: transform 0.5s ease-in-out; /* animación suave para el deslizamiento */
}

.carousel-tab-item {
  min-width: auto; /* cada elemento debe tener el ancho del contenedor para llenarlo completamente */
  box-sizing: border-box;
  /* Añadir más estilos según sea necesario */
  margin: 0 0.5rem;
  z-index: 50;
}

#tab-carousel-next-btn,
#tab-carousel-prev-btn {
  color: var(--primary);
  background-color: var(--black);
  border: 1px solid var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  width: fit-content;
  height: fit-content;
  z-index: 50;
  position: absolute;
  top: 60px;
  right: 0;
}

#tab-carousel-prev-btn {
  left: 0;
  right: unset;
}
