:root {
  --black: #000000;
  --white: #ffffff;
  --light-gray: #999894;
  --primary: #00d1b2;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: "Prompt", sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
}

article {
  padding: 4rem 0;
  min-height: 100vh;
}

div.container {
  width: 100vw;
  display: flex;
  position: static;
  min-height: 100%;
}

nav.navbar {
  background-color: transparent;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.navbar-menu,
.navbar-menu.is-active {
  background-color: var(--black);
}

a.navbar-item {
  color: var(--white);
}

.navbar-start > a.navbar-item:hover,
.navbar-start > a.navbar-item:focus,
.navbar-start > a.navbar-item:focus-within {
  color: var(--white);
  background-color: initial;
  opacity: 0.7;
}

footer.footer {
  background-color: var(--black);
  z-index: 1;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

/*Initial section*/
#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100vw;
  min-height: 100vh;
  opacity: 0.7;
  max-width: initial;
}

#video-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: white;
  padding: 1rem;
  height: calc(100vh - 52px);
  z-index: 1;
}

#video-section > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1rem;
}

.video-text {
  z-index: 2;
}

.card-image > figure > img {
  object-fit: cover;
}

a.navbar-burger,
a.navbar-burger:hover {
  color: var(--primary);
}

a.navbar-link:not(.is-arrowless)::after {
  border-color: var(--primary);
}

a.dropdown-link:focus,
a.dropdown-link:focus-within,
a.dropdown-link:focus-visible,
a.dropdown-link:hover {
  background-color: var(--black);
}

div.navbar-dropdown {
  border-top: none;
}

div.navbar-item.has-dropdown:hover .navbar-link {
  background-color: var(--black);
  color: var(--white);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.7;
}

.z-index {
  z-index: 1;
}

.black-bg {
  background-color: var(--black);
}

@media all and (min-width: 1025px) {
  #navbarClinic {
    background-color: transparent;
  }
  #video-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #video-section > div {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .navbar-burger {
    color: transparent;
  }
  .navbar-container {
    flex-direction: row;
  }
}

/*Service section*/

#service-section {
  overflow: hidden;
  z-index: 1;
  background-color: var(--black);
}

#service-section > div {
  flex-direction: column;
}

/*Our team section*/

#ourteam-section {
  overflow: hidden;
  z-index: 1;
  background-color: var(--black);
  display: block;
}

/*Card footer*/

.custom-card-footer {
  display: flex;
  height: 50px;
  width: 200px;
}

.custom-card-footer svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.custom-card-footer .social-link1,
.custom-card-footer .social-link2,
.custom-card-footer .social-link3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.custom-card-footer svg {
  transform: scale(1);
}

.custom-card-footer .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.custom-card-footer .social-link2:hover {
  background-color: var(--white);
  color: var(--black);
  animation: bounce_613 0.4s linear;
}

.custom-card-footer .social-link3:hover {
  background-color: #12a50b;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
