<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <article id="video-section">
    <div class="container"><video autoplay muted loop id="background-video">
        <source src="/public/background-main-video.webm" type="video/webm">
      </video>
      <div class="video-text">
        <h1 class="is-white">Llegó tu momento de sonreir</h1>
        <a class="button is-primary">Contáctanos</a>
      </div>
      <div class="video-text">
        <p class="is-white">Lo que mas nos gusta es la naturalidad de hacer una sonrisa.</p>
        <p class="is-white">Dr. Jose España</p>
        <a class="button is-primary">Conócenos</a>
      </div>
    </div>

  </article>
  <article id="service-section">
    <div class="container">
      <div class="service-header-text">
        <h1>Servicios</h1>
        <h2>Contáctanos para brindarte mayor asesoría e información sobre nuestras especialidades y valores.</h2>
      </div>
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-dentist.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>Clinica dental</p>
                <p>Rehabilitación oral</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-neurogastro.jpg" alt="Neurogastroenterology image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>Centro médico</p>
                <p>Neurogastro</p>
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/public/service-labdental.jpg" alt="Dental Laboratory">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>Laboratorio Dental</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </article>
  <article id="ourteam-section">
    <div class="container">

    </div>
  </article>

</body>

</html>