<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <article id="video-section">
    <video autoplay muted loop id="background-video">
      <source src="/public/background-main-video.webm" type="video/webm">
    </video>
    <div>
      <h1 class="is-white">Llegó tu momento de sonreir</h1>
      <a class="button is-primary">Contáctanos</a>
    </div>
    <div>
      <p class="is-white">Lo que mas nos gusta es la naturalidad de hacer una sonrisa.</p>
      <p class="is-white">Dr. Jose España</p>
      <a class="button is-primary">Conócenos</a>
    </div>
  </article>
  <article></article>
  <article></article>

</body>

</html>